@media screen and (min-width:768px) and (max-width:1023px) {
   .p {
      padding-left: 32px;
      padding-right: 32px;
   }

   .sponsor img:nth-child(2n) {
      display: none;
   }

   .sponsor {
      width: 100%;
   }

   .ben {
      flex-wrap: wrap;

   }

   .ben {
      height: 660px;
   }

   .clear {
      flex-direction: column-reverse;
   }

   .clear h1,
   .clear p {
      text-align: center;
   }

   .traffic img {
      display: none;
   }

   .galaxy {
      height: 644px;
      ;
   }

   .ship {
      height: 536px;
      width: 100%;
   }
.upload {
   display:flex;
}
   .galaxy p {
      width: unset;
   }

   .a {
      height: 744px;
   }

   .b {
      bottom: unset;
   }
   .faces {
   display: grid; /* Switch to grid */
   grid-template-columns: repeat(2, 1fr); /* 2 columns */
   grid-template-rows: repeat(2, 1fr); /* 2 rows */
   }
   .comment {
      max-width: unset;;
   }
   .custom {
      height:530px
   }
   .invest {max-width: unset;}
   .c {height: 729px;}

   .phone img {
      width:100%;
   }
   .globe{
      width:100%;
   }
}